.header-wrapper {
  position: fixed;
  padding: 5px 0px;
  top: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.chats-body {
  padding: 0;
  padding-top: 100px;
  min-height: 100000px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  background-image: url("../images/2.png");
  min-height: 1000vh;
}

.chat__write--container {
  position: fixed;
  bottom: 0px;
  /* width: 80%; */
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  /* background-color: #fcfcfc; */
  align-items: center;
  width: 100%;
  padding: 20px;
  /* border-radius: 40px; */
  /* background-color: red; */
  /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); */
}

.chat__write-left {
  position: absolute;
  left: 10px;
}

.chat__write-right {
  position: absolute;
  right: 0px;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.2s ease-in-out;
}

@keyframes float {
  0% {
    /* transform: none; */
    transform: translateY(-100px);
    box-shadow: 0px 8px 20px -12px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: translateY(-110px);
    box-shadow: 0px 8px 20px -60px rgba(0, 0, 0, 0.2);
  }
  100% {
    /* transform: translateY(none); */
    transform: translateY(-100px);
    box-shadow: 0px 8px 20px -12px rgba(0, 0, 0, 0.2);
  }
}

.chat__write {
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  margin: 0 auto;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  /* transition: all 0.5s ease-in; */
}

.chat__write:focus {
  outline: none;
  width: 80%;

  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  /* animation: float 2s ease-in-out infinite forwards; */
  animation: float 3s linear infinite forwards;
  /* transform: scaleX(0.7); */
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  /* padding: 10px; */
  /* width: 100%;
  border: none;
  font-size: 14px; */
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.message .message__bubble {
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 40px;
  color: white;
  font-weight: 600;
}

.message .message__content {
  width: 80%;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incomming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 20px;
  animation: spin 1s linear infinite;
}

.incomming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.incomming-message .message__author {
  margin-top: 20px;
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.incomming-message .message__bubble {
  border-bottom-left-radius: 0px;
  color: white;
  background-image: linear-gradient(to right, #544a7d, #ffd452);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #544a7d, #ffd452);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incomming-message {
  animation: incomingAnim 0.5s ease-in forwards;
}

@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnim 0.5s ease-out forwards;
}
